/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.Note {
    min-height: 170px;
}

.dark-mode {
    background-color: #14532D;
    
}

.dark-mode h1 {
    color: 
#F0FDF4;
}